:root {
    --spacing: 1em;
    --half-spacing: calc(0.5 * var(--spacing));
    --double-spacing: calc(2 * var(--spacing));
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    & > header {
        padding: var(--spacing);
        & h1 {
            margin: 0;
        }
    }
}

body.index {
    font-size: 20px;

    & main {
        padding: 0 var(--spacing);

        & #templates-list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: var(--double-spacing);
        }

        & #thinks-list {
            display: flex;
            flex-direction: column;
            gap: var(--double-spacing);
            list-style: none;
            padding: 0;
            
            & details {
                &[open] > summary {
                    margin-bottom: var(--spacing);
                }
                & ul {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing);
                }
            }

            & .think {
                & time {
                    font-size: smaller;
                }
                
                & .readme {
                    max-width: 80ch;
                    white-space: pre-wrap;
                }
            }
        }
    }
}

body.thing-editor {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template:
        "header" auto
        "main" 1fr
    ;
    gap: var(--spacing);
    /*! overflow: hidden; */

    & main {
        display: grid;
        gap: var(--spacing);
        grid-template: "nav editor preview" / auto 3fr 2fr;
        height: 100%;

        & > nav {
            display: flex;
            flex-direction: column;
            gap: var(--spacing);

            & #file-tree {
                margin: 0;
                overflow: auto;
                flex-grow: 1;

                & > li {
                    margin-top: var(--half-spacing);
                }

                & .dir {
                    font-weight: bold;
                }

                & .dir + .file {
                    margin-top: var(--spacing);
                }
            }

            & form {
                display: grid;
                grid-template-columns: 1fr 6em;
                align-content: start;
                align-items: start;
            }

            & #make-log {
                & > pre {
                    max-width: 20em;
                    overflow: auto;
                }
            }
        }

        & #editor {
            & #editor-controls {
                display: flex;
                gap: var(--spacing);
                justify-content: space-between;

                & > details {
                    text-align: right;

                    & > summary {
                        user-select: none;
                    }

                    & button {
                        margin: var(--half-spacing) 0;
                    }
                }
            }

            & #code-editor {
                display: block;
                max-width: 50vw;
                padding-bottom: 10em;
            }
    overflow: hidden;
        }

        & #preview {
            display: flex;
            flex-direction: column;
            & > iframe {
                width: 100%;
                height: 100%;
                border: none;
            }
        }
        overflow: hidden;
    }
}

#file-form {
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
}
@media (max-width: 100ch) {
    html {
        font-size: min(3vw, 16px);
    }
    body.thing-editor {
        & main {
            grid-template:
                "nav" min-content "editor" 40vh "preview"
            ;
            overflow: visible;

            & nav {
                flex-direction: row;
                flex-wrap: wrap;

                & form {
                    flex-grow: 1;
                }

                & #file-tree {
                    max-height: 7em;
                }
            }

            & #editor {
                overflow: auto;
                & #code-editor {
                    max-width: none;
                }
            }

            & #preview {
                height: 100vh;
            }
        }
    }
}
