{% extends "thinks/base.html" %}

{% block body_class %}index{% endblock %}

{% block header %}
<h1>Thinks</h1>
{% endblock header %}

{% block main %}
    <section id="templates">
        <h2>Templates</h2>
        <ul id="templates-list">
            {% for think in templates %}
            <li class="think">
                <a class="remix" href="{% url 'remix_think' think.slug %}">{{think.slug}}</a>
                <br>
                <small>(<a href="{% url 'think' think.slug %}">edit</a>)</small>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section id="recent">
        <h2>Recent</h2>

        <ul class="thinks-list">
            {% for think in recent_thinks %}
                {% include "thinks/think_list_item.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="thinks">
        <h2>Thinks</h2>
        <p><a href="{% url 'new_think' %}">New think</a></p>
            {% regroup thinks by category as categories %}
            <ul class="thinks-list">
                {% for category in categories %}
                <li>
                <details>
                    <summary>{% if category.grouper %}{{category.grouper}}{% else %}Uncategorised{% endif %}</summary>
                        <ul>
                        {% for think in category.list %}
                            {% include "thinks/think_list_item.html" %}
                        {% endfor %}
                        </ul>
                </details>
                </li>
                {% endfor %}
            </ul>
        </dl>
    </section>
{% endblock main %}
