{% extends "thinks/base.html" %}
{% load static %}

{% block title %}{{path}} - {{think.slug}} - {{block.super}}{% endblock title %}

{% block body_class %}thing-editor {{block.super}}{% endblock %} 

{% block scripts %}
    <script src="{% static "thinks/think-editor.js" %}"></script>

    {{think_editor_data|json_script:"think-editor-data"}}
    <script id="csrftoken" type="text/plain">{{csrf_token}}</script>

    <script type="module"">
        import init_app from "{% static "thinks/load-think-editor.mjs" %}";
        init_app();
    </script>
{% endblock scripts %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "thinks/think-editor.css" %}?{% now "U" %}">
{% endblock stylesheets %}

{% block header %}
    <a href="/">thinks</a>
    <h1>{{think.slug}}</h1>
{% endblock header %}

{% block main %}
{% endblock main %}
